doctype html
head
  meta(charset='UTF-8')
  title #{title}
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  script(src='js/jquery.min.js')
header
main
   span= todo.description+' : '+todo.status
